carepd/*
.history/*
assets/dataset*
assets/Pretrain*
*.DS_Store*
*.pyc
docs/._diagram.png
reports/*
assets/preprocessed_data/*
experiment_outs/*
wandb/*pretext/momask/checkpoints/t2m/text_mot_match/model/finest.tar
pretext/momask/checkpoints/t2m/text_mot_match/model/finest.tar
.vscode/*

# .gitignore for thesis
*.pkl
*.npz
*.json
*.pth
*.png
*.bat
*.csv
*.zip

__pycache__/

zip_code.py
J_regressor_h36m_correct.npy

# ignore script for syncing code to gitlab repository
sync_to_gitlab.bat